.instructions {
  &__title {
    grid-column: 1 / 4;

    @media (min-width: 768px) {
      grid-column: 1 / 6;
    }
  }

  &__container {
    margin-top: 32px;
    align-items: start;

    @media (min-width: 768px) {
      margin-top: 40px;

      .instruction:nth-child(odd) {
        grid-column: 1 / 5;
      }

      .instruction:nth-child(even) {
        position: relative;
        top: 150px;
        grid-column: 5 / 9;
      }
    }

    @media (min-width: 1024px) {
      margin-top: 60px;

      .instruction:nth-child(odd) {
        grid-column: 1 / 6;
      }

      .instruction:nth-child(even) {
        position: relative;
        top: 150px;
        grid-column: 7 / 12;
      }
    }
  }
}
