.title {
  font-family: "Museo Sans Cyrl";
  font-size: 40px;
  line-height: 44px;
  margin-top: 80px;

  color: #333333;
  
  @media (min-width: 768px) {
    font-size: 56px;
    line-height: 66px;
    margin-top: 120px;
  }

  @media (min-width: 1024px) {
    margin-top: 140px;
  }

  // &--marked {
  //   background-color: rgb(79, 98, 246, 0.1);
  // }
}


