@font-face {
  font-family: Montserrat;
  src: url("Montserrat-VariableFont_wght.9ca97454.woff2"), url("Montserrat-Thin.61809945.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Museo Sans Cyrl;
  src: url("MuseoSansCyrl-500.4c4bc29d.woff2"), url("MuseoSansCyrl-500.d7ce8353.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: MuseoSansCyrl;
  src: url("MuseoSansCyrl-700.2ba7ba8a.woff2"), url("MuseoSansCyrl-700.41ce82a0.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header__top {
  height: 80px;
}

.header__main {
  background-color: #4f62f61a;
}

.header__logo {
  grid-column: 1 / 2;
  align-self: center;
}

.header__menu {
  display: none;
}

@media (min-width: 1024px) {
  .header__menu {
    grid-column: 2 / 9;
    justify-content: start;
    align-items: center;
    gap: 32px;
    display: flex;
  }
}

.header__options {
  grid-column: 9 / 13;
  justify-content: end;
  align-items: center;
  gap: 24px;
  display: flex;
}

.header__title {
  color: #333;
  grid-column: 1 / 5;
  align-self: start;
  margin-top: 32px;
  font-family: Museo Sans Cyrl;
  font-size: 40px;
  line-height: 44px;
}

@media (min-width: 768px) {
  .header__title {
    text-align: center;
    grid-column: 1 / 9;
    align-self: center;
    margin-top: 40px;
    font-size: 64px;
    line-height: 72px;
  }
}

@media (min-width: 1024px) {
  .header__title {
    text-align: left;
    grid-column: 1 / 7;
    align-self: start;
    margin-top: 140px;
  }
}

.header__text {
  color: #4f4f4f;
  grid-column: 1 / 5;
  align-self: start;
  margin-top: 24px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

@media (min-width: 768px) {
  .header__text {
    text-align: center;
    grid-column: 2 / 8;
    align-self: center;
    margin-top: 32px;
  }
}

@media (min-width: 1024px) {
  .header__text {
    text-align: left;
    grid-column: 1 / 6;
  }
}

.header__button {
  max-width: 380px;
  width: 100%;
  grid-column: 1 / 5;
  justify-self: center;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .header__button {
    width: 260px;
    grid-column: 3 / 7;
    margin-top: 48px;
  }
}

@media (min-width: 1024px) {
  .header__button {
    grid-column: 1 / 4;
    margin-bottom: 100px;
  }
}

.header__image {
  width: 100%;
  max-width: 420px;
  object-fit: contain;
  grid-column: 1 / 5;
  justify-self: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .header__image {
    grid-column: 2 / 8;
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .header__image {
    min-width: 100%;
    grid-area: 1 / 7 / 6 / 13;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.logo {
  color: #333;
  font-family: Museo Sans Cyrl;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  transition: all .3s;
}

.logo:hover {
  color: #4f62f6;
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  color: #333;
  font-family: Museo Sans Cyrl;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.menu__link:hover {
  color: #354bf4;
}

.about {
  box-sizing: border-box;
  height: 833px;
  background-color: #4f62f61a;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  display: flex;
}

.about__title {
  color: #333;
  margin-bottom: 24px;
  font-family: Museo Sans Cyrl;
  font-size: 40px;
  line-height: 44px;
}

.about__description {
  color: #4f4f4f;
  margin-bottom: 32px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.about__link {
  height: 54px;
  width: 100%;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #fff;
  background-color: #4f62f6;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 52px;
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.about__link:hover {
  background-color: #7181fc;
}

.about__link:active {
  background-color: #354bf4;
}

.about__image {
  width: 240px;
  height: 262px;
  background-repeat: no-repeat;
}

.instruction {
  border: 2px solid #6248ff;
  border-radius: 30px;
  flex-direction: column;
  grid-column: 1 / 5;
  align-self: start;
  align-items: start;
  gap: 10px;
  margin-bottom: 24px;
  padding: 32px;
  display: flex;
}

@media (min-width: 768px) {
  .instruction {
    margin-bottom: 134px;
  }
}

.instruction__number {
  color: #4f62f6;
  font-family: Museo Sans Cyrl;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
}

.instruction__title {
  color: #333;
  font-family: Museo Sans Cyrl;
  font-size: 24px;
  font-style: normal;
  line-height: 29px;
}

.instruction__description {
  color: #4f4f4f;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.instructions__title {
  grid-column: 1 / 4;
}

@media (min-width: 768px) {
  .instructions__title {
    grid-column: 1 / 6;
  }
}

.instructions__container {
  align-items: start;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .instructions__container {
    margin-top: 40px;
  }

  .instructions__container .instruction:nth-child(2n+1) {
    grid-column: 1 / 5;
  }

  .instructions__container .instruction:nth-child(2n) {
    grid-column: 5 / 9;
    position: relative;
    top: 150px;
  }
}

@media (min-width: 1024px) {
  .instructions__container {
    margin-top: 60px;
  }

  .instructions__container .instruction:nth-child(2n+1) {
    grid-column: 1 / 6;
  }

  .instructions__container .instruction:nth-child(2n) {
    grid-column: 7 / 12;
    position: relative;
    top: 150px;
  }
}

.container {
  grid-template-columns: repeat(4, 1fr);
  gap: 0 20px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
    gap: 0 40px;
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    grid-template-columns: repeat(12, 1fr);
  }
}

.options__select {
  display: none;
}

@media (min-width: 1024px) {
  .options__select {
    width: 80px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .options__select:hover {
    border: 2px solid #7181fc;
  }

  .options__select:active {
    border: 2px solid #354bf4;
  }
}

.options__item {
  width: 20px;
  height: 16px;
  color: #333;
  font-family: Museo Sans Cyrl;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.options__button {
  display: none;
}

@media (min-width: 768px) {
  .options__button {
    width: 170px;
    display: flex;
  }
}

.options__burger {
  height: 24px;
  width: 24px;
  background-image: url("menu.5116ced5.svg");
}

@media (min-width: 1024px) {
  .options__burger {
    display: none;
  }
}

.button {
  height: 40px;
  width: 100%;
  white-space: nowrap;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #fff;
  background-color: #4f62f6;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.button:hover {
  background-color: #7181fc;
}

.button:active {
  background-color: #354bf4;
}

.title {
  color: #333;
  margin-top: 80px;
  font-family: Museo Sans Cyrl;
  font-size: 40px;
  line-height: 44px;
}

@media (min-width: 768px) {
  .title {
    margin-top: 120px;
    font-size: 56px;
    line-height: 66px;
  }
}

@media (min-width: 1024px) {
  .title {
    margin-top: 140px;
  }
}

.founders__title {
  grid-column: 1 / 4;
}

@media (min-width: 768px) {
  .founders__title {
    grid-column: 1 / 6;
  }
}

.founders__container {
  flex-wrap: nowrap;
  justify-content: start;
  display: flex;
}

.founders__slider {
  min-height: 150px;
  height: max-content;
  width: 100%;
  grid-column: 1 / 5;
  position: relative;
  overflow: hidden;
}

.founder {
  width: calc(100vw - 40px);
  flex-direction: column;
  align-items: center;
  display: flex;
}

.founder__image {
  margin-top: 32px;
}

.founder__name {
  text-align: center;
  color: #333;
  margin-top: 8px;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.founder__position {
  text-align: center;
  color: #333333b3;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.founder__comment {
  display: flex;
}

.comment {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.comment__quotes {
  width: 33px;
  height: 27px;
  margin-top: 24px;
}

.comment__text {
  text-align: center;
  color: #333;
  margin-top: 24px;
  font-family: Museo Sans Cyrl;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
