@import "../styles/fonts";
@import "../styles/normalize.scss";
@import "../styles/blocks/header.scss";
@import "../styles/blocks/logo.scss";
@import "../styles/blocks/menu.scss";
@import "../styles/blocks/main.scss";
@import "../styles/blocks/instructions.scss";
@import "../styles/blocks/container.scss";
@import "../styles/blocks/options.scss";
@import "../styles/blocks/button.scss"

